<?xml version="1.0"?>
<launch>
    <arg name="use_sim_time" default="true" />
    <arg name="gui" default="true" />
    <arg name="headless" default="false" />
    <arg name="num_drones" default="3" />
    <arg name="drone_prefix" default="nexus" />
    <arg name="spawn_delay" default="0.5" />
    <arg name="spawn_config" default="$(find nexus_swarm_sim)/config/spawn_formation.yaml" />
    <arg name="scenario_config" default="$(find nexus_swarm_sim)/config/uwb_simulator.yaml" />
    <arg name="world_name" default="$(find nexus_swarm_sim)/worlds/swarm_uwb.world" />
    <arg name="gazebo_model_file" default="/usr/share/gazebo-11/models/iris_with_standoffs/model.sdf" />
    <arg name="dashboard" default="$(arg headless)" />
    <arg name="dashboard_host" default="0.0.0.0" />
    <arg name="dashboard_port" default="8787" />

    <include file="$(find nexus_swarm_sim)/launch/base.launch">
        <arg name="use_sim_time" value="$(arg use_sim_time)" />
        <arg name="gui" value="$(arg gui)" />
        <arg name="headless" value="$(arg headless)" />
        <arg name="vehicle_model" value="iris" />
        <arg name="drone_prefix" value="$(arg drone_prefix)" />
        <arg name="scenario_config" value="$(arg scenario_config)" />
        <arg name="world_name" value="$(arg world_name)" />
        <arg name="dashboard" value="$(arg dashboard)" />
        <arg name="dashboard_host" value="$(arg dashboard_host)" />
        <arg name="dashboard_port" value="$(arg dashboard_port)" />
    </include>

    <rosparam ns="swarm_launcher" file="$(arg spawn_config)" />

    <node name="swarm_launcher" pkg="nexus_swarm_sim" type="swarm_launcher.py" output="screen">
        <param name="num_drones" value="$(arg num_drones)" />
        <param name="drone_prefix" value="$(arg drone_prefix)" />
        <param name="spawn_mode" value="gazebo_model" />
        <param name="spawn_delay" value="$(arg spawn_delay)" />
        <param name="gazebo_model_file" value="$(arg gazebo_model_file)" />
    </node>
</launch>
