<?xml version="1.0"?>
<launch>
    <arg name="gui" default="true" />
    <arg name="headless" default="false" />
    <arg name="use_sim_time" default="true" />
    <arg name="drone_prefix" default="nexus" />
    <arg name="drone_index" default="1" />
    <arg name="drone_id" default="$(eval arg('drone_prefix') + '/' + str(arg('drone_index')))" />
    <arg name="drone_model_name" default="$(eval arg('drone_prefix') + str(arg('drone_index')))" />
    <arg name="drone_ns" default="$(eval '/' + arg('drone_id'))" />
    <arg name="model_prefix" default="iris_demo" />
    <arg name="scenario_config" default="$(find nexus_swarm_sim)/config/uwb_simulator.yaml" />
    <arg name="ardupilot_root" default="$(env HOME)/ardupilot" />
    <arg name="ardupilot_gazebo_root" default="$(env HOME)/ardupilot_gazebo" />
    <arg name="sitl_frame" default="gazebo-iris" />
    <arg name="sitl_vehicle" default="ArduCopter" />
    <arg name="sitl_sysid" default="1" />
    <arg name="sitl_instance" default="0" />
    <arg name="sitl_tcp_port" default="5760" />
    <arg name="world_name" default="$(eval arg('ardupilot_gazebo_root') + '/worlds/iris_arducopter_runway.world')" />
    <arg name="enable_gimbal" default="false" />
    <arg name="enable_mavproxy" default="true" />
    <arg name="mavproxy_console" default="false" />
    <arg name="mavproxy_map" default="false" />
    <arg name="quiet_mavproxy" default="true" />
    <arg name="dashboard" default="$(arg headless)" />
    <arg name="dashboard_host" default="0.0.0.0" />
    <arg name="dashboard_port" default="8787" />

    <include file="$(find nexus_swarm_sim)/launch/base.launch">
        <arg name="use_sim_time" value="$(arg use_sim_time)" />
        <arg name="gui" value="$(arg gui)" />
        <arg name="headless" value="$(arg headless)" />
        <arg name="vehicle_model" value="iris" />
        <arg name="drone_prefix" value="$(arg model_prefix)" />
        <arg name="scenario_config" value="$(arg scenario_config)" />
        <arg name="world_name" value="$(arg world_name)" />
        <arg name="dashboard" value="$(arg dashboard)" />
        <arg name="dashboard_host" value="$(arg dashboard_host)" />
        <arg name="dashboard_port" value="$(arg dashboard_port)" />
    </include>

    <include file="$(find nexus_swarm_sim)/launch/spawn_sitl.launch">
        <arg name="drone_prefix" value="$(arg drone_prefix)" />
        <arg name="drone_index" value="$(arg drone_index)" />
        <arg name="drone_id" value="$(arg drone_id)" />
        <arg name="drone_model_name" value="$(arg drone_model_name)" />
        <arg name="drone_ns" value="$(arg drone_ns)" />
        <arg name="instance" value="$(arg sitl_instance)" />
        <arg name="sys_id" value="$(arg sitl_sysid)" />
        <arg name="x" value="0.0" />
        <arg name="y" value="0.0" />
        <arg name="z" value="0.2" />
        <arg name="ardupilot_root" value="$(arg ardupilot_root)" />
        <arg name="ardupilot_gazebo_root" value="$(arg ardupilot_gazebo_root)" />
        <arg name="sitl_frame" value="$(arg sitl_frame)" />
        <arg name="sitl_tcp_port" value="$(arg sitl_tcp_port)" />
        <arg name="fdm_port_in" value="9002" />
        <arg name="fdm_port_out" value="9003" />
        <arg name="enable_gimbal" value="$(arg enable_gimbal)" />
        <arg name="enable_mavproxy" value="$(arg enable_mavproxy)" />
        <arg name="mavproxy_console" value="$(arg mavproxy_console)" />
        <arg name="mavproxy_map" value="$(arg mavproxy_map)" />
        <arg name="quiet_mavproxy" value="$(arg quiet_mavproxy)" />
    </include>
</launch>
