<?xml version="1.0"?>
<launch>
    <arg name="vehicle_model" default="iris" />
    <arg name="drone_prefix" default="nexus" />
    <arg name="drone_index" default="1" />
    <arg name="drone_id" default="$(eval arg('drone_prefix') + '/' + str(arg('drone_index')))" />
    <arg name="drone_model_name" default="$(eval arg('drone_prefix') + str(arg('drone_index')))" />
    <arg name="drone_ns" default="$(eval '/' + str(arg('drone_id')))" />
    <arg name="instance" default="0" />
    <arg name="sys_id" default="1" />
    <arg name="x" default="0.0" />
    <arg name="y" default="0.0" />
    <arg name="z" default="0.2" />
    <arg name="ardupilot_root" default="$(env HOME)/ardupilot" />
    <arg name="ardupilot_gazebo_root" default="$(env HOME)/ardupilot_gazebo" />
    <arg name="sitl_frame" default="gazebo-iris" />
    <arg name="sitl_tcp_port" default="$(eval str(5760 + int(arg('instance')) * 10))" />
    <arg name="mavproxy_out_port" default="$(eval str(14550 + int(arg('instance')) * 10))" />
    <arg name="fdm_port_in" default="$(eval str(9002 + int(arg('instance')) * 10))" />
    <arg name="fdm_port_out" default="$(eval str(9003 + int(arg('instance')) * 10))" />
    <arg name="rendered_model_file" default="$(eval '/tmp/nexus_swarm_sim/' + arg('drone_model_name') + '_ardupilot.sdf')" />
    <arg name="enable_gimbal" default="true" />
    <arg name="sitl_add_param_file" default="$(find nexus_swarm_sim)/config/arducopter_gazebo_iris_sim.parm" />
    <arg name="enable_mavproxy" default="true" />
    <arg name="mavproxy_console" default="false" />
    <arg name="mavproxy_map" default="false" />
    <arg name="quiet_mavproxy" default="true" />
    <arg name="mavros_fcu_url" default="$(eval 'udp://127.0.0.1:' + str(arg('mavproxy_out_port')) + '@')" />

    <group ns="$(arg drone_id)">
        <param name="mavros_bridge_launcher/fcu_url" value="$(arg mavros_fcu_url)" />

        <node name="model_spawner" pkg="nexus_swarm_sim" type="spawn_ardupilot_model.py" output="screen">
            <param name="template_path" value="$(arg ardupilot_gazebo_root)/models/iris_with_ardupilot/model.sdf" />
            <param name="output_path" value="$(arg rendered_model_file)" />
            <param name="model_name" value="$(arg drone_model_name)" />
            <param name="robot_namespace" value="$(arg drone_ns)" />
            <param name="to_ardupilot_port" value="$(arg fdm_port_out)" />
            <param name="from_ardupilot_port" value="$(arg fdm_port_in)" />
            <param name="x" value="$(arg x)" />
            <param name="y" value="$(arg y)" />
            <param name="z" value="$(arg z)" />
            <param name="enable_gimbal" value="$(arg enable_gimbal)" />
        </node>

        <node name="sitl_session_launcher" pkg="nexus_swarm_sim" type="start_sitl_session.py" output="screen">
            <param name="ardupilot_root" value="$(arg ardupilot_root)" />
            <param name="ardupilot_gazebo_root" value="$(arg ardupilot_gazebo_root)" />
            <param name="vehicle" value="ArduCopter" />
            <param name="frame" value="$(arg sitl_frame)" />
            <param name="instance" value="$(arg instance)" />
            <param name="sysid" value="$(arg sys_id)" />
            <param name="use_dir" value="$(eval '/tmp/ardupilot_sitl_' + arg('drone_model_name'))" />
            <param name="add_param_file" value="$(arg sitl_add_param_file)" />
            <param name="enable_mavproxy" value="$(arg enable_mavproxy)" />
            <param name="mavproxy_console" value="$(arg mavproxy_console)" />
            <param name="mavproxy_map" value="$(arg mavproxy_map)" />
            <param name="quiet_mavproxy" value="$(arg quiet_mavproxy)" />
        </node>

        <include file="$(find mavros)/launch/apm.launch">
            <arg name="fcu_url" value="$(arg mavros_fcu_url)" />
            <arg name="gcs_url" value="" />
            <arg name="tgt_system" value="$(arg sys_id)" />
            <arg name="tgt_component" value="1" />
            <arg name="respawn_mavros" value="true" />
            <arg name="log_output" value="screen" />
        </include>

        <node name="stream_rate_configurator" pkg="nexus_swarm_sim" type="configure_stream_rates.py" output="screen">
            <param name="state_topic" value="mavros/state" />
            <param name="service_name" value="mavros/set_stream_rate" />
            <param name="stream_id" value="0" />
            <param name="message_rate" value="20" />
            <param name="enable" value="true" />
            <param name="connection_timeout" value="120.0" />
        </node>
    </group>
</launch>
